*.cmd
*.ko
*.mod.c
*.nam
*.til
*.so
*.o
*.lo
*.a
*.out
*.hex
*.lock
*.gch
*.pyc
YRSSF
/core/lwan/build/*
/core/leveldb/out-shared/*
/core/leveldb/out-static/*
/build/data/*/*
/build/live/*
/build/live-client
/build/launcher
/build/daemon
/build/lock
/test/*