*.cmd
*.ko
*.mod.c
*.nam
*.til
*.so
*.o
*.lo
*.a
*.out
*.hex
*.lock
*.gch
*.pyc
*.db
*debug
YRSSF
/core/lwan/build/*
/core/leveldb/out-shared/*
/core/leveldb/out-static/*
/build/data/*/*
/build/data/cert.txt
/build/dict*
/build/live/*
/build/live-client
/build/launcher
/build/daemon
/build/lock
/build/install.lock
/test/*
/Android/yrssf_bin/*
/atulocher*
/testbuild*